.form-interessed {
    margin: 5rem 5rem;
    background: $white;
    border: 1px solid $color-5;
    padding: 2rem;
    max-width: 80%;
    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .form-area-container{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .form-interessed-title {
        margin-top: 1rem;
    }
    .form-interessed-area {
       
        textarea {
            width: 100%;
            padding: 1rem;
            resize: none;
        }
    } 
    label {
        color: $color-3;
        font-size: 18px;
        line-height: 2rem;
        margin-top: 1rem;
    }


.buttons-form-interessed{
    display: flex;
    justify-content: flex-end;
    .button-form-interessed {
        font-weight: bold;
        background: $color-1;
        border: 1px solid $color-1;
        padding: 15px 25px;
        border: 1px solid $color-1;
        border-radius: 6px;
        color: white;
        max-width: 100%;
        cursor: pointer;
    }
    .button-form-interessed:hover {
        background-color: transparent;
        color: $black;
        border: 1px solisd $color-1;
        transition: all 0.3s ease-out;
    }}
}

@media screen and (max-width: 960px) {
    .form-interessed {
        margin: 5rem auto;

        .button-form-interessed {
            justify-content: center;
        }
    }
}

