.Chargement-en-cours{
    margin: 20rem 2.5rem;
    text-align: center;
}

.No-item{
    margin: 20rem 2.5rem;
    text-align: center;
}
.empty{
    margin: 10rem 2.5rem;
    text-align: center;
}
.error{
    display: block;
    color: rgb(218, 24, 24);
}